aioresponses~=0.7.8
croniter~=6.0.0
watchdog~=6.0.0
mock-open~=1.4.0
mypy~=1.10.1
pre-commit~=4.2.0
polyfactory~=2.21.0
ruff~=0.11.10
PyYAML~=6.0.1
types-PyYAML~=6.0.12.20250516

# Need specific versions
pytest-homeassistant-custom-component==0.13.205
myVaillant==0.6.0

# Versions handled by pytest-homeassistant-custom-component
freezegun
pytest
pytest-asyncio
pytest-cov